header {
  background: rgba(32, 1, 25, 0.50);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px;
}

.logo {
  width: 375px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  max-width: 35%;
  height: auto;
  padding: 20px;
}

.desktop_menu {
  margin-top: 24px;
}

.desktop_menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.desktop_menu ul li {
  color: white !;
  display: inline-block;
  font-size: 18px;
  list-style-type: none;
  margin-left: 26px;
}

.desktop_menu ul li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    /*opacity: 0.9;*/
    position: fixed !important;
    /*right: -280px;*/
    top: 64px;
    width: 280px;
  }

  .desktop_menu ul {
    display: block;
  }

  .desktop_menu ul li {
    border-bottom: 1px solid grey;
    display: block;
    margin: 0;
    padding: 10px 0 10px 26px;
    text-align: left;
  }

  .menu-icon {
    color: white !important;
    cursor: pointer;
    display: block;
    font-size: 40px;
    padding-top: 10px;
  }

  .mobile_menu {
    background:rgba(32, 1, 25, 0.50);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s ease-in-out;
    z-index: 999;
  }
}
