header {
  padding: 10px;
  background: #000000;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.imagenCtem{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.logo {
  width: 400px;
}
.logo:hover {
  cursor: pointer;
}

.desktop_menu {
  margin-top: 24px;
}
.desktop_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop_menu ul li {
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin-left: 26px;
}
.desktop_menu ul li:hover {
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 30, 225);
  transition: 0.3s ease-in-out;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    position: fixed !important;
    right: -280px;
    transition: 0.4s ease-in-out;
    top: 64px;
    background: rgba(0, 0, 0, 0.85);
    width: 280px;
    height: 100%;
    opacity: 0.9;
  }
  .desktop_menu ul {
    display: block;
  }
  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }
  .menu-icon {
    display: block;
    color: white;
    font-size: 40px;
    padding-top: 10px;
  }
  .mobile_menu {
    right: 0;
    /*transition: 0.4s;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
  }
}
