header {
  font-family: 'IBM Plex Sans', sans-serif;
  background: rgba(32, 1, 25, 0.50);
  display: flex;
  justify-content: space-between; /* Asegura que el logo y la lista estén en extremos opuestos */
  align-items: center; /* Alinea verticalmente el logo y la lista */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
}

.desktop_menu {
  display: flex;
  justify-content: flex-end; /* Alinea la lista a la derecha */
  flex-grow: 1; /* Ocupa el espacio restante */
}

.desktop_menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.desktop_menu ul li {
  color: white;
  font-size: 18px;
  margin-left: 26px;
  cursor: pointer;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 40px;
}

@media screen and (max-width: 900px) {
  header {
    justify-content: space-between;
  }

  .desktop_menu {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    position: fixed;
    top: 64px;
    right: 0;
    width: 280px;
    display: none;
  }

  .desktop_menu.mobile_menu {
    display: block;
  }

  .desktop_menu ul {
    display: block;
  }

  .desktop_menu ul li {
    border-bottom: 1px solid grey;
    display: block;
    margin: 0;
    padding: 10px 0 10px 26px;
    text-align: left;
  }

  .menu-icon {
    display: block;
  }
}
