<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>
</head>
<div class="container">
    <div class="footer-section">
        <div class="column">
            <h1>Información</h1>
            <p>Temáticas</p>
            <p>Fechas y Horarios</p>
            <h1>Contactos</h1>
            <p>cteminfo&#64;gmail.com</p>
            <p>+593 99 999 9999</p>
        </div>
        <div class="column">
            <h1>Congreso</h1>
            <p>Ponentes</p>
            <p>Sobre el evento</p>
            <p>Únete a nosotros</p>
        </div>
        <div class="column">
            <div class="logo-ctem">
                <img src="assets/logo.png" alt="Logo Principal">
            </div>
            <div class="logo-suda">
                <img src="assets/Logo Suda.png" alt="Logo Suda">
            </div>
            <div class="icons">
                <img src="assets/whatsapp.png" alt="WhatsApp">
                <img src="assets/facebook.png" alt="Facebook">
                <img src="assets/instagram.png" alt="Instagram">
                <img src="assets/tiktok.png" alt="TikTok">
                <img src="assets/linkedln.png" alt="LinkedIn">
            </div>
            <br>
        </div>
    </div>
    
    <div class="logo-section">
        <img src="assets/logo.png" alt="Logo Principal">
    </div>
    
    <div style="font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta'; font-size: 16px;" class="autor">
        <p>2024.©Instituto Superior Tecnológico Sudamericano-Cuenca. All rights reserved</p>
    </div>
</div>
