<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="carousel">
    <div class="card">
        <div class="image1">
            <img src="assets/image2.png">
            <div class="imgText1">
                <h1>Educación, Ciencia y <br> Divulgación Matemática</h1>
                <div class="sub-image1">
                    <img src="assets/place.png">
                    <p>Instituto Tecnológico Superior Sudamericano</p>
                </div>
                <div class="sub-image2">
                    <img src="assets/calendar.png">
                    <p>30 de noviembre, 2024</p>
                </div>
                <div class="sub-image3">
                    <img src="assets/money.png">
                    <p>Evento gratuito + certificado</p>
                </div>
                <div class="sub-image4">
                    <img src="assets/reloj.png">
                    <p>8h00 - 17h00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IMPLEMENTAR ICONO JUNTO AL TEXTO SVG PARA QUE SE MUEVA CON EL TEXTO Y QUEDEN ALINEADOS -->