.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 75vw;
    height: 60vh;
    border-radius: 20px;
    background-color: #40153661;
    position: absolute;
    top: 12vh;
    left: 12vw;
    opacity: 1;
    box-shadow: 0 8px 15px #0000004d; 
}

.image1 img {
    width: 50vw;
    height: 17vh;
    position: absolute;
    left: 15vw;
    top: 5vh;
}

.imgText1 {
    position: absolute;
    top: 10vh;
}

.imgText1 h1 {
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-style: italic; 
    font-size: 22px;
    position: relative;
    top: 12vh;
    left: 7vw;
}

.imgText1 p {
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;
}

.sub-image1 img {
    position: absolute;
    width: 5vw;
    height: 3vh;
    left: 12vw;
    top: 23vh;
}

.sub-image1 p {
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 13px;
    left: 24vw;
    top: 21vh;
}

.sub-image2 img {
    width: 5vw;
    height: 3vh;
    left: 12vw;
    top: 29vh;
}

.sub-image2 p {
    position: relative;
    left: 12vw;
    top: 20vh;
}

.sub-image3 img {
    width: 6vw;
    height: 3vh;
    left: 12vw;
    top: 35vh;
}

.sub-image3 p {
    position: relative;
    left: 17vw;
    top: 22.5vh;
}

.sub-image4 img {
    width: 5vw;
    height: 3vh;
    left: 12vw;
    top: 42vh;
}

.sub-image4 p {
    position: relative;
    left: 7vw;
    top: 26vh;
}


@media only screen and (min-width: 768px) {
    .card {
        width: 85vw;
        height: 60vh;
        border-radius: 20px;
        background-color: #8e878c61;
        position: absolute;
        top: 12vh;
        left: 5vw;
        opacity: 1;
        animation: none;
    }

    .image1 img {
        width: 45vw;
        height: 61vh;
        position: absolute;
        left: 40vw;
        top: 0.5vh;
    }

    .imgText1 h1 {
        font-size: 35px;
        position: relative;
        top: -6vh;
        left: 8vw;
    }

    .sub-image1 img {
        width: 2vw;
        height: 4vh;
        left: 12vw;
        top: 15vh;
    }

    .sub-image1 p {
        position: relative;
        left: 16vw;
        top: -2vh;
    }

    .sub-image2 img {
        width: 2vw;
        height: 4vh;
        left: 12vw;
        top: 22vh;
    }

    .sub-image2 p {
        position: relative;
        left: 8vw;
        top: 1vh;
    }

    .sub-image3 img {
        width: 2vw;
        height: 3vh;
        left: 12vw;
        top: 31vh;
    }

    .sub-image3 p {
        position: relative;
        left: 9vw;
        top: 5.5vh;
    }

    .sub-image4 img {
        width: 2vw;
        height: 3vh;
        left: 12vw;
        top: 38vh;
    }

    .sub-image4 p {
        position: relative;
        left: 6vw;
        top: 8vh;
    }
}


