.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 75vw;
    height: 65vh;
    border-radius: 20px;
    background-color: #40153661;
    position: absolute;
    /* top: 80vh; */
    left: 12vw;
    opacity: 1;
    box-shadow: 0 8px 15px #00000065; 
}

.image1 img {
    width: 55vw;
    position: absolute;
    left: 10vw;
    top: 4vh;
}

.imgText1 {
    position: absolute;
}

.imgText1 h1 {
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';  
    font-style: italic;
    text-align: center; 
    font-size: 5vw; /* Usa vw para una tipografía responsive */
    margin-top: 210px;
    margin-left: 1px;
}

.imgText1 p {
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta'; 
    font-size: 3vw; /* Usa vw para una tipografía responsive */
}


.sub-image1 img {
    top: 35vh; /* Ajusta esto para alinearlo con el párrafo */
    left: 5vw; /* Mantiene la misma posición horizontal */
    width: 5vw; /* Mantiene el mismo ancho */
    height: auto; /* Mantiene la altura automática */
}

.sub-image2 img {
    top: 42vh; /* Ajusta esto para alinearlo con el párrafo */
    left: 5vw; /* Mantiene la misma posición horizontal */
    width: 5vw; /* Mantiene el mismo ancho */
    height: auto; /* Mantiene la altura automática */
}

.sub-image3 img {
    top: 47vh; /* Ajusta esto para alinearlo con el párrafo */
    left: 5vw; /* Mantiene la misma posición horizontal */
    width: 5vw; /* Mantiene el mismo ancho */
    height: auto; /* Mantiene la altura automática */
}

.sub-image4 img {
    top: 52vh; /* Ajusta esto para alinearlo con el párrafo */
    left: 5vw; /* Mantiene la misma posición horizontal */
    width: 5vw; /* Mantiene el mismo ancho */
    height: auto; /* Mantiene la altura automática */
}

.sub-image1 {
    top: 23vh;
}

.sub-image1 p {
    margin-left: 20%;
    margin-top: 8%;
    font-size: 13px; /* Usa vw para una tipografía responsive */
}
.sub-image2 {
    top: 29vh;
}

.sub-image2 p {
    margin-left: 20%;
    margin-top: 11%;
    font-size: 13px; /* Usa vw para una tipografía responsive */
}
.sub-image3 {
    top: 35vh;
}

.sub-image3 p {
    margin-left: 20%;
    margin-top: 9%;
    font-size: 13px; /* Usa vw para una tipografía responsive */
}

.sub-image4 {
    top: 42vh;
}

.sub-image4 p {
    margin-left: 20%;
    margin-top: 9%;
    font-size: 13px; /* Usa vw para una tipografía responsive */
}


@media only screen and (min-width: 768px) {
    .carousel {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    .card {
        width: 80vw;
        height: 60vh;
        border-radius: 20px;
        background-color: #40153661;
        position: absolute;
        top: 8vh;
        left: 12vw;
        opacity: 1;
        box-shadow: 0 8px 15px #00000065; 
    }
    
    .image1 img {
        width: 40vw;
        height: 61vh;
        position: absolute;
        left: 40vw;
        top: 0.5vh;
    }
    
    .imgText1 {
        position: absolute;
    }
    
    .imgText1 h1 {
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';  
        font-style: italic;
        text-align: center; 
        font-size: 40px; /* Usa vw para una tipografía responsive */
        margin-top: 35px;
        margin-left: 60px;
    }
    
    .imgText1 p {
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta'; 
        font-size: 3vw; /* Usa vw para una tipografía responsive */
    }
    
    
    .sub-image1 img {
        width: 2vw;
        height: 4vh;
        left: 10vw;
        top: 23vh;
    }
    
    .sub-image2 img {
        width: 2vw;
        height: 4vh;
        left: 10vw;
        top: 33vh;
    }
    
    .sub-image3 img {
        width: 2vw;
        height: 3vh;
        left: 10vw;
        top: 44vh;
    }
    
    .sub-image4 img {
        width: 2vw;
        height: 3vh;
        left: 10vw;
        top: 53vh;
    }
    
    .sub-image1 {
        top: 23vh;
    }
    
    .sub-image1 p {
        margin-left: 40%;
        margin-top: 6%;
        font-size: 20px; /* Usa vw para una tipografía responsive */
    }
    .sub-image2 {
        top: 29vh;
    }
    
    .sub-image2 p {
        margin-left: 40%;
        margin-top: 8%;
        font-size: 20px; /* Usa vw para una tipografía responsive */
    }
    .sub-image3 {
        top: 35vh;
    }
    
    .sub-image3 p {
        margin-left: 40%;
        margin-top: 9%;
        font-size: 20px; /* Usa vw para una tipografía responsive */
    }
    
    .sub-image4 {
        top: 42vh;
    }
    
    .sub-image4 p {
        margin-left: 40%;
        margin-top: 9%;
        font-size: 20px; /* Usa vw para una tipografía responsive */
    }
    
}


