.container{
    background-color: #000000;
    width: 100vw;
    height: 350vh;
    position: relative;
    margin: 0px;
}

.logo img{
    position: absolute;
    left: 35vw;
    top: 15vh;
}

.name{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-style: italic; 
    font-size: 11px;
    left: 20vw;
    top: 28vh;
}

.text1{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-style: italic; 
    font-size: 11px;
    left: 33vw;
    top: 45vh;

}

.Background img{
    position: absolute;
    width: 100vw;
    height: auto;
}

.card{
    width: 85vw;
    height: 35vh;
    border-radius: 20px;
    background-color: #bbbbbb33;
    position: absolute;
    top: 54vh;
    left: 7.5vw;
}

.image1 img{
    width: 7vw;
    height: 4vh;
    position: absolute;
    left: 7vw;
    top: 3vh;
}

.image2 img{
    width: 7vw;
    height: 4vh;
    position: absolute;
    left: 7vw;
    top: 11vh;
}

.image3 img{
    width: 8vw;
    height: 4vh;
    position: absolute;
    left: 7vw;
    top: 19vh;
}

.image4 img{
    width: 7vw;
    height: 4vh;
    position: absolute;
    left: 7vw;
    top: 27vh;
}

.image1 p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 17px;
    left: 19vw;
    top: 1vh;
}

.image2 p{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 17px;
    left: 19vw;
    top: 10vh;
}

.image3 p{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 17px;
    left: 19vw;
    top: 18vh;
}

.image4 p{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 17px;
    left: 19vw;
    top: 26vh;
}

.container-mission{
    width: 100vw;
    height: 45vh;
    background-color: #080808a0;
    position: absolute; 
    top: 108vh; 
    left: 0; 
    z-index: 1; 
}

.container-mission h1{
    text-align: left;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-style: italic; 
    font-size: 35px;
    position: absolute;
    left: 20vw;
}

.text-mission{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 16px;
    left: 9vw;
    top: 9vh; 
}

.container-vision{
    width: 100vw;
    height: 30vh;
    background-color: #fff;
    position: absolute; 
    top: 35vh; 
    left: 0; 
    z-index: 1; 
}

.container-vision h1{
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-style: italic; 
    font-size: 35px;
}

.text-vision{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 16px;
    left: 9vw;
    top: 8vh; 
}

.container-principle{
    width: 100vw;
    height: 90vh;
    background-color: #080808a0;
    position: absolute; 
    top: 30vh; 
    left: 0; 
    z-index: 1; 
}

.container-principle h1{
    text-align: left;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-style: italic; 
    font-size: 35px;
}

.information img{
    width: 100vw;
    height: auto; 
    position: absolute; 
    top: 40vh; 
    left: 0;
    z-index: 1;
}

.text2 p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 12vw;
    top: 33vh;
}

.text3 p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 12vw;
    top: 43vh;
}

.text4 p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 12vw;
    top: 56vh;
}

.text5 p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 12vw;
    top: 68vh;
}

.objective{
    width: auto;
    height: 25vh;
    background-color: #080808a0;
    position: absolute; 
    top: 110vh; 
    left: 0; 
    z-index: 1; 
}

.objective h1{
    text-align: left;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-style: italic; 
    font-size: 35px;
}

.text-objective p{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 12vw;
    top: 12vh;
}

.button{
    position: absolute;
    top: 145vh;
    left: 20vw;
}

.button2{
    position: absolute;
    top: -47vh;
    left: 27vw;
}

.footer{
    position: absolute;
    top: 100vh;
}

.fondo{
    position: absolute;
    top: 100vh;
}

.Background2 {
    display: none; 
}

.imageInf {
    display: none; 
}


@media only screen and (min-width: 768px) {

    .container{
        background-color: #3D002F;
        width: 100vw;
        height: 350vh;
        position: relative;
        margin: 0px;
    }
    
    .head{
        display: none;
    }

    .Background2 {
        position: absolute;
        width: 50vw;
        height: 50vh;
        display: flex;
    }
    
    .logo img{
        position: absolute;
        left: 28vw;
        top: 15vh;
    }
    .name{
        position: absolute;
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-style: italic; 
        font-size: 20px;
        left: 40vw;
        top: 10vh;
    }

    .card{
        width: 70vw;
        height: 45vh;
        border-radius: 20px;
        background-color: #bbbbbb33;
        position: absolute;
        top: 35vh;
        left: 15vw;
    }

    .text1{
        position: absolute;
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-style: italic; 
        font-size: 17px;
        left: 40vw;
        top: 32.5vh;
    
    }

    .Background img{
        display: none;
    }

    .image1 img{
        width: 2vw;
        height: 5vh;
        position: absolute;
        left: 20vw;
        top: 11vh;
    }
    
    .image2 img{
        width: 2vw;
        height: 4vh;
        position: absolute;
        left: 20vw;
        top: 19vh;
    }
    
    .image3 img{
        width: 2.3vw;
        height: 4vh;
        position: absolute;
        left: 20vw;
        top: 26vh;
    }
    
    .image4 img{
        width: 2vw;
        height: 4vh;
        position: absolute;
        left: 20vw;
        top: 33vh;
    }
    
    .image1 p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 20px;
        left: 24vw;
        top: 7vh;
    }
    
    .image2 p{
        position: absolute;
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 20px;
        left: 24vw;
        top: 16.5vh;
    }
    
    .image3 p{
        position: absolute;
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 20px;
        left: 24vw;
        top: 23.5vh;
    }
    
    .image4 p{
        position: absolute;
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 20px;
        left: 24vw;
        top: 31vh;
    }

    .button{
        position: absolute;
        top: 130vh;
        left: -7vw;
    }

    .button2{
        position: absolute;
        top: -17vh;
        left: -7vw;
    }
    
    .container-mission{
        width: 45vw;
        height: 50vh;
        background-color: #000000;
        position: absolute; 
        top: 101vh; 
        left: 0; 
        z-index: 1; 
    }
    
    .container-mission h1{
        text-align: center;
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-style: italic; 
        font-size: 35px;
        position: absolute;
        left: 17vw;
    }
    
    .text-mission{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 16px;
        left: 9vw;
        top: 12vh; 
    }
    
    .container-vision{
        width: 35vw;
        height: 50vh;
        background-color: #fff;
        position: absolute; 
        top: -0.002vh; 
        left: 45vw; 
        z-index: 1; 
    }
    
    .container-vision h1{
        text-align: left;
        color: #000000;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-style: italic; 
        font-size: 35px;
    }
    
    .text-vision{
        position: absolute;
        color: #000000;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 16px;
        left: 9vw;
        top: 13vh; 
    }

    .container-principle{
        width: 25vw;
        height: 70vh;
        background-color: #000000;
        position: absolute; 
        top: 50vh; 
        left: -10vw; 
        z-index: 1; 
    }
    
    .container-principle h1{
        text-align: left;
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-style: italic; 
        font-size: 28px;
        position: absolute;
        left: 3vw;
    }

    .information img{
        width: 40vw;
        height: 70vh; 
        position: absolute; 
        top: 50vh; 
        left: -50vw; 
     }
    
    .text2 p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 13px;  
        left: 2vw;
        top: 10vh;
    }
    
    .text3 p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 13px;  
        left: 2vw;
        top: 22vh;
    }
    
    .text4 p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 13px;  
        left: 2vw;
        top: 37vh;
    }
    
    .text5 p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 13px;  
        left: 2vw;
        top: 52vh;
    }
    
    .objective{
        width: 25vw;
        height: 70vh;
        background-color: #000000;
        position: absolute; 
        top: 50vh; 
        left: 15vw; 
        z-index: 1; 
    }
    
    .objective h1{
        text-align: left;
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-style: italic; 
        font-size: 28px;
        position: absolute;
        left: 1vw;
    }
    
    .text-objective p{
        position: absolute;
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 16px;  
        left: 2vw;
        top: 12vh;
    }
    
    .footer{
        position: absolute;
        left: -50vw;
        top: 69vh;
    }
} 
