body {
    margin: 0;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
}
  
.main {
    background-color: #200119;
}

.thirdContainer, .button, .objective, .principles-information, .mission-vision {
    margin: 0px 0;
}

.mission-vision, .principles-information {
    display: flex;
    justify-content: space-between;
}

.carousel {
    width: 100%;
    height: auto;
}
.container-mission {
    width: 50%;
    background-color: #200119;
} 

.container-mission p {
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 5%; 
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin: 0; 
    line-height: 1.5; 
} 

.container-mission h1 {
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin-bottom: 15px;
}

.container-vision {
    width: 50%;
    background-color: #ffffff;
}

.container-vision p {
    align-items: center;
    justify-content: center;
    color: #200119;
    padding: 5%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin: 0;
    line-height: 1.5;
}

.container-vision h1 {
    color: #200119;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin-bottom: 15px;
}

.information {
    width: 50%;
    background-color: #ffffff;
}

.information img {
    width: 100%;
    height: 100%;
}

.principles {
    width: 48%;
    background-color: #200119;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.principles p {
    color: #ffffff;
    padding: 2%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin: 0;
    line-height: 1;
}

.principles h1 {
    color: #ffffff;
    padding: 2%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    margin-bottom: 10px;
}

.text-objective p {
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-left: -145px;
    padding: 10px 0 100px 0;
}

h1 {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

@media (max-width: 768px) {
    .mission-vision, .principles-information {
        flex-direction: column;
    }

    .container-mission, .container-vision, .information, .principles {
        width: 100%;
        margin-bottom: 20px;
    }
}
