body {
    margin: 0;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  }
  
  .main {
    background-color: #200119;
}

.thirdContainer, .button, .objective, .principles-information, .mission-vision {
    margin: 20px 0;
}

.mission-vision, .principles-information {
    display: flex;
    justify-content: space-between;
}

.container-mission{
    width: 48%;
    background-color: #200119;
} 
.container-mission p{
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 15%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

} 
.container-mission h1{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

    
}

.container-vision p{
    align-items: center;
    justify-content: center;
    color: #200119;
    padding: 15%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

}
.container-vision h1{
    color: #200119;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

}
.container-vision, .information{
    width: 48%;
    background-color: #ffffff;
}
.information img{
    width: 100%;
    height: auto;
}
.principles {
    width: 48%;
    background-color: #200119;
}
.principles p {
    color: #ffffff;
    padding: 15%;

    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

}

.principles h1 {
    color: #ffffff;
    padding: 15%;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';

}

.principles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    display: block;
    margin: 0 auto;
}
h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .mission-vision, .principles-information {
        flex-direction: column;
    }

    .container-mission, .container-vision, .information, .principles {
        width: 100%;
        margin-bottom: 20px;
    }
}
