<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="head">
        </div>
        <div class="Background">
    <img src="assets/imgFondo.webp">
        </div>
        <div class="Background2">
    <img src="assets/Background2.png">
    </div>
    <div class="logo">
        <img src="assets/logo1.png">
    </div>
    <div class="name">
        <h1>Congreso de Tecnologías <br> y Educación Matemática</h1>
    </div>
    <div class="text1">
        <h1>Cronograma</h1>
    </div>
    <div class="card">
        <div class="image1">
            <img src="assets/place.png">
            <p> Instituto Tecnológico Superior <br> Sudamericano<p>
        </div>
        <div class="image2">
            <img src="assets/calendar.png">
            <p>30 de noviembre, 2024<p>
        </div>
        <div class="image3">
            <img src="assets/money.png">
            <p>Evento gratuito<p>
        </div>
        <div class="image4">
            <img src="assets/reloj.png">
            <p>8h00 - 17h00</p>
        </div>
</div>
<div class="container-mission">
    <h1>Misión</h1>
    <div class="text-mission">
        <p>La misión del congreso es reunir a expertos, <br> académicos y profesionales del sector para <br> compartir conocimientos, experiencias e <br> investigaciones que impulsen la innovación en la <br> enseñanza de las matemáticas, empoderando a los <br> asistentes con nuevas perspectivas y herramientas <br> para transformar su práctica educativa.</p>
        </div>
<div class="container-vision">
    <h1>Visión</h1>
        <div class="text-vision">
            <p>Nuestra visión es ser el congreso de referencia <br> que inspire nuevas formas de interactuar con <br> las matemáticas desde la academia, <br> promoviendo un cambio profundo en la <br> enseñanza y comprensión de esta disciplina.</p>
</div>
<div class="container-principle">
    <h1>Principios</h1>
<div class="text2">
    <p>Calidad: Asegurar que todas las charlas, discusiones y <br> materiales proporcionados durante el congreso sean <br> de la más alta calidad, basados en investigaciones <br> sólidas y experiencias prácticas relevantes.</p>
</div>
<div class="text3">
    <p>Impacto Social: Promover el uso de la tecnología y la educación matemática como herramientas para <br> generar un impacto positivo en la sociedad, <br> abordando desafíos actuales y contribuyendo <br> al desarrollo sostenible de las comunidades. </p>
</div>
<div class="text4">
    <p>Ética y Responsabilidad: Fomentar un entorno <br> de respeto, integridad y responsabilidad <br> entre todos los participantes, asegurando que <br> las discusiones y colaboraciones se desarrollen <br> en un marco ético y profesional. </p>
</div>
<div class="text5">
    <p>Colaboración: Facilitar el intercambio de ideas y la <br> colaboración entre todos los participantes, <br> promoviendo un espíritu de trabajo en equipo y <br> alianzas que perduren más allá del congreso.</p>
</div>
</div>
<div class="information">
    <img src="assets/information.png">
</div>
<div class="objective">
    <h1>Objetivo</h1>
<div class="text-objective">
    <p>Proporcionar un espacio para el intercambio <br> y la difusión de conocimientos, <br> investigaciones y avances en el campo de <br> las matemáticas educativas.</p>
</div>
</div>
<div class="button">
    <app-button></app-button>
</div>
<div class="button2">
    <app-button></app-button>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>
</div>  
</div>


