<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>
</head>
<div class="main">
    <div class="thirdContainer">  
        <div class="carousel">
            <app-carouselimg></app-carouselimg>
        </div>
    </div>

    <!-- <div class="button">
        <app-button></app-button>
    </div> -->

    <div class="mission-vision">
        <div class="container-mission">
            <h1>Misión</h1>
            <div class="text-mission">
                <p>La misión del congreso es reunir a expertos, académicos y profesionales del sector para compartir conocimientos, experiencias e investigaciones que impulsen la innovación en la enseñanza de las matemáticas, empoderando a los asistentes con nuevas perspectivas y herramientas para transformar su práctica educativa.</p>
            </div>
        </div>
        <div class="container-vision">
            <h1>Visión</h1>
            <div class="text-vision">
                <p>Nuestra visión es ser el congreso de referencia que inspire nuevas formas de interactuar con las matemáticas desde la academia, promoviendo un cambio profundo en la enseñanza y comprensión de esta disciplina.</p>
            </div>
        </div>
    </div>

    <div class="principles-information">
        <div class="information">
            <img src="assets/information.png">
        </div>
        <div class="principles">
            <div class="objective">
                <h1>Objetivo</h1>
                <div class="text-objective">
                    <p>Proporcionar un espacio para el intercambio y la difusión de conocimientos, investigaciones y avances en el campo de las matemáticas educativas.</p>
                </div>
            </div>
            <div class="text2">
                <p>Calidad: Asegurar que todas las charlas, discusiones y materiales proporcionados durante el congreso sean de la más alta calidad, basados en investigaciones sólidas y experiencias prácticas relevantes.</p>
            </div>
            <div class="text3">
                <p>Impacto Social: Promover el uso de la tecnología y la educación matemática como herramientas para generar un impacto positivo en la sociedad, abordando desafíos actuales y contribuyendo al desarrollo sostenible de las comunidades.</p>
            </div>
            <div class="text4">
                <p>Ética y Responsabilidad: Fomentar un entorno de respeto, integridad y responsabilidad entre todos los participantes, asegurando que las discusiones y colaboraciones se desarrollen en un marco ético y profesional.</p>
            </div>
        </div>
    </div>

    <!-- <div class="button">
        <app-button></app-button>
    </div> -->

    <div class="footer">
        <app-footer></app-footer>
      </div> 
</div>
