/* Estilos generales */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif; 
  height: auto; /* Elimina el espacio en blanco al final */
  overflow-y: auto;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden; 
}

.left-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; 
  overflow: hidden; 
}

.backregister img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: -1;
}

.logoctm img {
  position: absolute;
  width: auto;
  height: 40px; 
  top: 160px; 
  left: 50%;
  transform: translateX(-50%);
}

.registration-container {
  position: absolute; 
  top: 50%; 
  left: 30%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #64646448; 
  padding: 20px;
  border-radius: 10px; 
  box-sizing: border-box; 
}


.title {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  font-style: italic;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.4em;
}

.form-group {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  margin-bottom: 15px;
  color: white;
  font-size: 12px;
}

input {
  background-color: rgba(250, 250, 250, 0.253);
  font-size: 14px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  box-sizing: border-box; 
}

.submit-button {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding: 5px 10px; 
  background-color: #24001C;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s, padding 0.3s;
  float: right;
}

.submit-button:hover {
  background-color: #1f1f1f; 
  padding: 10px 20px; 
}

.error-message {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  color: #ff5757;
  font-size: 0.9em;
  margin-top: 5px;
}

.success-message {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  color: green;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.right-section {
  position: absolute; 
  background-color: #24001C;
  width: 600px; 
  height: 100%; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  top: 0; 
  left: 36.6%;
  transform: translateX(50%);
}

.text-container {
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  font-style: italic;
  text-align: center;
  max-width: 100%; 
}

.big-text {
  font-size: 2em;
  margin: 20px 0;
}

.small-text {
  font-size: 0.9em;
  margin: 10px 0;
}

/* Estilos para pantallas móviles */
@media screen and (max-width: 900px) {
  .registration-container {
    position: relative;
    top: 0px; 
    left: 0;
    transform: none;
    width: 90%; 
    max-width: 400px;
    height: auto; 
    max-height: 680px;
    margin: 0 auto; 
    padding: 15px;
    border-radius: 10px; 
    box-sizing: border-box; 
    overflow: hidden; 
  }
}


@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .left-section, .right-section {
    width: 100%;
    height: 700px;
    padding: 10px;
  }

  .right-section {
    display: none; 
  }


  .text-container {
    margin-top: 20px; 
  }

  .big-text, .small-text {
    text-align: center;
    margin: 10px 0;
  }

  .big-text {
    font-size: 1.5em; 
  }

  .small-text {
    font-size: 0.8em;
  }

  body, html {
    height: auto; 
    overflow-y: auto; 
  }
}
