<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="Container">
<div class="mainContainer">
    <div class="Background">
        <img src="assets/fondo.png">
    </div>
    <div class="Background2">
        <img src="assets/fondo2.png">  
    </div>
    <div class="thirdContainer">  
        <div class="carousel">
            <app-carouselimg></app-carouselimg>
        </div>
            </div>
    <div class="button">
        <app-button></app-button>
    </div>
    <div class="proposity">
        <h1>Congreso</h1>
    </div>
    <div class="proposity1">
        <img src="assets/proposity1.png">
    </div>
    <div class="proposityText">
        <h1>Aprendizaje continuo</h1>
        <p>Congreso de Tecnologia y Educación <br> Matemática. Se parte del primer <br> congreso de Educacion Matemática <br> del Ecuador. </p>
    </div>
    <div class="proposity2">
        <img src="assets/proposity2.png">
    </div>
    <div class="proposityText2">
        <h1>Innovación educativa</h1>
        <p>Congreso de Tecnologia y Educación <br> Matemática. Se parte del primer <br> congreso de Educacion Matemática <br> del Ecuador. </p>
    </div>
    <div class="container-speakers">
        <h1>Listado de Ponentes</h1>
    </div>
    <div class="container-list">
        <h1>Ponentes Principales</h1>
    </div>
    <div class="speakers1">
        <img src="assets/p.pricipal.png">
        <div class="theme">
            <p>Tema</p>
        </div>
        <div class="more">
            <P>Ver más...</P>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
    <div class="speakers2">
        <img src="assets/p.principal2.png">
        <div class="theme2">
            <p>Tema</p>
        </div>
        <div class="more2">
            <P>Ver más...</P>
        </div>
    </div>
    <div class="education">
        <h1>Ponentes en Educacion</h1>
    </div>
        <div class="image-eduaction">
            <img src="assets/p.educacion.png">
    </div>
    <div class="science">
        <h1>Ponentes en Ciencia</h1>
    </div>
    <div class="image-science">
        <img src="assets/p.ciencia.png">
    </div>
    <div class="Divulgacion">
        <h1>Ponentes en Divulgación</h1>
    </div>
    <div class="image-divulgacion">
        <img src="assets/p.divulgacion.png">
    </div>
    <div class="button2">
        <app-button></app-button>
    </div>
</div>
</div>

