html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    background-color: #3D002F;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.thirdContainer {
    background-color: #2501013f;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.proposity, .proposityText, .proposityText2, .container-speakers, .container-list, .education, .science, .Divulgacion {
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    text-align: center;
    background-color: #000000;
}

.proposity h1, .proposityText h1, .proposityText2 h1, .container-speakers h1, .container-list h1, .education h1, .science h1, .Divulgacion h1 {
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    font-style: italic;
    font-size: 30px;
    margin: 0;
}

.proposity1 img, .proposity2 img, .speakers1 img, .speakers2 img, .image-eduaction img, .image-science img, .image-divulgacion img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button, .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.button {
    margin-top: 80vh;
}

.button2 {
    margin-top: 5vh;
}

/* Specific adjustments for images */
.proposity1, .proposity2, .speakers1, .speakers2, .image-eduaction, .image-science, .image-divulgacion {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 2vh;
}

@media only screen and (min-width: 768px) {
    .proposity, .proposityText, .proposityText2, .container-speakers, .container-list, .education, .science, .Divulgacion {
        padding: 0 10vw;
    }

    .proposity h1, .proposityText h1, .proposityText2 h1, .container-speakers h1, .container-list h1, .education h1, .science h1, .Divulgacion h1 {
        text-align: left;
        font-size: 30px;
    }
}
