<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="Container">
<div class="mainContainer">
    <div class="Background">
        <img src="assets/Fondo.png">
    </div>
    <div class="thirdContainer">
        <div class="head">
            <app-head></app-head>
        </div>  
        <div class="carousel">
            <app-carouselimg></app-carouselimg>
        </div>
            </div>
    <div class="button">
        <app-button2></app-button2>
    </div>
    <div class="proposity">
        <h1>Congreso</h1>
    </div>
    <div class="proposity1">
        <img src="assets/proposity1.png">
    </div>
    <div class="proposityText">
        <h1>Aprendizaje continuo</h1>
        <p>Congreso de Tecnologia y Educación <br> Matemática. Se parte del primer <br> congreso de Educacion Matemática <br> del Ecuador. </p>
    </div>
    <div class="proposity2">
        <img src="assets/proposity2.png">
    </div>
    <div class="proposityText2">
        <h1>Innovación educativa</h1>
        <p>Congreso de Tecnologia y Educación <br> Matemática. Se parte del primer <br> congreso de Educacion Matemática <br> del Ecuador. </p>
    </div>
    <div class="button2">
        <app-button2></app-button2>
    </div>
</div>
</div>

