<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <script src="app-text.js" defer></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>

<div class="main-container"> 
  <!-- <div class="background">
    <img src="assets/Fondo.png">
  </div>
  <div class="background2">
    <img src="assets/fondo2.png">
  </div>   -->
  
  <!-- <div class="background" style="background-image: url('assets/Fondo.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">  
    <div class="carousel">
      <app-carrusel></app-carrusel>
      <app-carouselimg></app-carouselimg> 
    </div> 
  </div> -->
  <div class="button-container">
    <app-button></app-button> 
</div>

<div class="section">
  <div class="title1">
    <h2>Congreso</h2>
  </div>
  <div class="row two-columns">
    <div class="column1">
      <img src="assets/proposity1.png" alt="Imagen 1">
      <h3>Aprendizaje continuo</h3>
      <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer<br> congreso de Educacion Matemática del Ecuador. </p>
    </div>
    <div class="column1">
      <img src="assets/proposity2.png" alt="Imagen 2">
      <h3>Innovación educativa</h3>
      <p>Congreso de Tecnologia y Educación Matemática. Se parte del primer<br> congreso de Educacion Matemática del Ecuador. </p>
    </div>
  </div>
</div>

<div class="section">
  <div class="title-container">
    <h2>Listado de Ponentes</h2>
  </div>
  <div class="title-container">
    <h2>Ponentes Principales</h2>
  </div>
  <div class="row main-ponetes">
    <div class="main-card">
      <img src="assets/p.pricipal.png" alt="Imagen 3">
      <p class="text-title">Ponente Principal </p>
      <p>Ver más...</p>
      <button class="card-button" (click)="navigateToOther()">More info</button>
    </div><br>
    <div class="main-card">
      <img src="assets/p.principal2.png" alt="Imagen 4">
      <p class="text-title">Ponente Principal </p>
      <p>Ver más...</p>
      <button class="card-button" (click)="navigateToOther()">More info</button>
    </div>
  </div>          
</div>

<div class="section">
  <div class="title-container">
    <h2>Ponentes de Educación</h2>
  </div>
  <div class="row three-columns">
    <div class="column">
      <div class="card">
        <img src="assets/educacion.png" alt="Imagen 5">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/ciencia.png" alt="Imagen 6">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/divulgacion.png" alt="Imagen 7">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="title-container">
    <h2>Ponentes de Ciencia</h2>
  </div>
  <div class="row three-columns">
    <div class="column">
      <div class="card">
        <img src="assets/educacion.png" alt="Imagen 5">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/ciencia.png" alt="Imagen 6">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/divulgacion.png" alt="Imagen 7">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="title-container">
    <h2>Ponentes de Divulgación</h2>
  </div>
  <div class="row three-columns">
    <div class="column">
      <div class="card">
        <img src="assets/educacion.png" alt="Imagen 5">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/ciencia.png" alt="Imagen 6">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/divulgacion.png" alt="Imagen 7">
        <div class="card-details">
          <p class="text-title2">Ponente Uno</p>
          <p class="text-body">Ver más...</p>
        </div>
        <button class="card-button" (click)="navigateToOther()">More info</button>
      </div>
    </div>
  </div>
</div>

<!-- Botón final -->
<div class="button-container2">
  <app-button></app-button>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
