html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    background-color: #3D002F;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.thirdContainer {
    background-color: #2501013f;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

<<<<<<< Updated upstream
.Background img {
    display: none;   
 }
 
 .Background2 img{
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;   
 }


.button {
    top: 80vh;
    left: -2vw; 
    position: relative; 
    z-index: 3; 
}

.proposity {
    width: 100vw;
    height: 8vh;
    background-color: #000000;
    position: absolute; 
    top: 100vh; 
    left: 0; 
    z-index: 1; 
}

.proposity h1{
=======
.proposity, .proposityText, .proposityText2, .container-speakers, .container-list, .education, .science, .Divulgacion {
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
>>>>>>> Stashed changes
    text-align: center;
    background-color: #000000;
}

.proposity h1, .proposityText h1, .proposityText2 h1, .container-speakers h1, .container-list h1, .education h1, .science h1, .Divulgacion h1 {
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    font-style: italic;
    font-size: 30px;
    margin: 0;
}

.proposity1 img, .proposity2 img, .speakers1 img, .speakers2 img, .image-eduaction img, .image-science img, .image-divulgacion img {
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.proposity1 img{
    width: 20% !important;
}

<<<<<<< Updated upstream
.proposityText{
    width: 100vw;
    height: 20vh;
    background-color: #000000;
    position: absolute; 
    top: 148vh; 
    left: 0; 
    z-index: 1; 
}

.proposityText h1{
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-style: italic; 
    font-size: 30px;
}

.proposityText p{
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 15px;
}

.proposity2 {
    width: 100vw;
    height: 40vh; 
    position: absolute; 
    top: 185vh; 
    left: 0;
    z-index: 1; 
}

.proposity2 img {
    width: 100vw; 
    height: 40vh; 
    position: absolute;
    top: -17vh;
}

.proposityText2{
    width: 100vw;
    height: 20vh;
    background-color: #000000;
    position: absolute; 
    top: 205vh; 
    left: 0; 
    z-index: 1; 
}

.proposityText2 h1{
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-style: italic; 
    font-size: 30px;
}

.proposityText2 p{
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 15px;
=======

.button, .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.button {
    margin-top: 80vh;
>>>>>>> Stashed changes
}

.button2 {
    margin-top: 5vh;
}

/* Specific adjustments for images */
.proposity1, .proposity2, .speakers1, .speakers2, .image-eduaction, .image-science, .image-divulgacion {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 2vh;
}

@media only screen and (min-width: 768px) {
<<<<<<< Updated upstream

    .mainContainer {
        background-color: #3D002F;
        width: 100vw;
        height: 650vh;
        position: absolute;
        margin: -10px;
    }
    
    .thirdContainer {
        background-color: #2501013f;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; 
    }
    
    .proposity {
        width: 100vw;
        height: 10vh;
        background-color: #000000;
        position: absolute; 
        top: 100vh; 
        left: 0vw; 
        z-index: 1; 
    }
    
    .proposity h1{
        text-align: left;
        color: #fff;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-style: italic; 
        font-size: 30px;
        position: absolute;
        left: 10vw;
    }
    
    .proposity1 {
        width: 100vw;
        height: 40vh; 
        position: absolute; 
        top: 120vh; 
        left: 0;
        z-index: 1; 
    }
    
    .proposity1 img {
        width: 50vw; 
        height: 60vh; 
        position: absolute;
        top: -10vh;
    }
    
    .Background img {
       display: none;   
    }
    
    .Background2 img{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;   
    }
    
    .button {
        top: 80vh;
        left: -2vw; 
        position: relative; 
        z-index: 3; 
    }
    
    .proposityText{
        width: 50vw;
        height: 25vh;
        background-color: #000000;
        position: absolute; 
        top: 169vh; 
        left: 0; 
        z-index: 1; 
    }
    
    .proposityText h1{
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-style: italic; 
        font-size: 30px;
        position: absolute;
        left: 10vw;
    }
    
    .proposityText p{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 15px;
        position: absolute;
        left: 10vw;
        top: 10vh;
    }
    
    .proposity2 {
        width: 50vw;
        height: 40vh; 
        position: absolute; 
        top: 186vh; 
        left: -3vw;
        z-index: 1; 
    }
    
    .proposity2 img {
        width: 50vw; 
        height: 60vh; 
        position: absolute;
        top: -76vh;
        left: 98.5vh;
    }
    
    .proposityText2{
        width: 50vw;
        height: 25vh;
        background-color: #000000;
        position: absolute; 
        top: 169vh; 
        left: 50vw; 
        z-index: 1; 
    }
    
    .proposityText2 h1{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-style: italic; 
        font-size: 30px;
    }
    
    .proposityText2 p{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
        font-size: 15px;
    }
    
    .button2 {
        top: 240vh;
        left: -2vw; 
        position: relative; 
        z-index: 3; 
    }
    
    .footer{
        position: absolute;
        top: 520vh;
    }
    
    .container-speakers{
        width: 100vw;
        height: 8vh;
        background-color: #000000;
        position: absolute; 
        top: 200vh; 
        left: 0; 
        z-index: 1; 
    }
    .container-speakers h1{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-style: italic; 
        font-size: 25px;
        position: absolute;
        top: -1vh;
        left: 40vw;
    }
    
    .container-list{
        width: 100vw;
        height: 6vh;
        background-color: #00000094;
        position: absolute; 
        top: 210vh; 
        left: 0; 
        z-index: 1; 
    }
    .container-list h1{
        color: #fff;
        text-align: center;
        font-style: italic; 
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;
    }
    
    .speakers1{
        position: absolute;
        width: 200vw;
        height: 150vh;
        top: 220vh;
        left: 10vw;
    }
    .theme{
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;   
        position: absolute;
        left: 1vw;
    }
    .more{
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;  
        position: absolute;
        left: 25vw;
        top: 45vh;
    }
    
    .speakers2{
        position: absolute;
        width: 100vw;
        height: 50vh;
        top: 220vh;
        left: 50vw;
    }
    .theme2{
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;   
        position: absolute;
        left: 1vw;
    }
    .more2{
        color: #fff;
        text-align: left;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;  
        position: absolute;
        left: 25vw;
        top: 45vh;
    }
    
    .education{
        width: 100vw;
        height: 6vh; 
        background-color: #00000094;
        position: absolute; 
        top: 280vh; 
        left: 0; 
        z-index: 1; 
    }
    
    .education h1{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;
    }
    
    .image-eduaction{
        width: 30vw;
        height: 80vh;
        border-radius: 20px;
        background-color: #bbbbbbb1;
        position: absolute;
        top: 295vh;
        left: 3vw;
    }
    .image-eduaction img{
        position: absolute;
        left: 2vw;
        top: 5vh;
    }
    .science{
        width: 100vw;
        height: 6vh; 
        background-color: #00000094;
        position: absolute; 
        top: 385vh; 
        left: 0; 
        z-index: 1; 
    }
    .science h1{
        color: #fff;
        text-align: center;
        font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
        font-size: 15px;
=======
    .proposity, .proposityText, .proposityText2, .container-speakers, .container-list, .education, .science, .Divulgacion {
        padding: 0 10vw;
>>>>>>> Stashed changes
    }

    .proposity h1, .proposityText h1, .proposityText2 h1, .container-speakers h1, .container-list h1, .education h1, .science h1, .Divulgacion h1 {
        text-align: left;
        font-size: 30px;
    }
}
