body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
}

.container {
    text-align: center;
}

.conoce {
    background-color: #ffffff;
    color: #bf1650;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: bold;
    cursor: not-allowed; 
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
}

.conoce:hover {
    background-color: #f3f3f3;
}




