<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="head">
    </div>
    <div class="image1">
        <img src="assets/thematic1.png">
    </div>
    <div class="title1">
        <h1>Ciencia</h1>
    </div>
    <div class="container-text">
    <div class="text1">
        <h1>Matemáticas Aplicadas</h1>
        <p>Este eje explorará cómo la programación puede ser <br> una herramienta poderosa en la enseñanza de las <br> matemáticas. Se incluirán talleres sobre la creación <br> de aplicaciones sencillas utilizando Python, donde <br> los participantes podrán aplicar conceptos <br> matemáticos en un entorno de programación.</p>
    </div>
    <div class="text2">
        <h1>Relación entre Matemáticas y <br> Programación</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
    <div class="text3">
        <h1>Matemáticas y la <br> Inteligencia Artificial (IA)</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
</div>
    <div class="image2">
        <img src="assets/img-thematic.png">
    </div>
    <div class="title2">
        <h1>Divulgación</h1>
    </div>
    <div class="container-text2">
    <div class="text4">
        <h1>Aplicaciones de las <br> Matemáticas en Áreas diversas</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
    <div class="text5">
        <h1>Matemáticas en la vida <br> diaria</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
    <div class="text6">
        <h1>Matemáticas y <br> Comprensión del Mundo</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
</div>
    <div class="image3">
        <img src="assets/thematic3.png">
    </div>
    <div class="title3">
        <h1>Educación</h1>
    </div>
    <div class="container-text3">
    <div class="text7">
        <h1>Enfoques Educativos</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
    <div class="text8">
        <h1>Aprendizaje Basado en <br> Proyectos (ABP)</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
    <div class="text9">
        <h1>Gamificación  en el Aula</h1>
        <p>Congreso de Tecnologia y Educación Matemática.<br> Se parte del primer congreso de Educacion <br> Matemática del Ecuador.</p>
    </div>
</div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
    <div class="button">
        <app-button></app-button>
    </div>
</div>