<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <script src="app-text.js" defer></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="image1">
        <img src="assets/background-thematic.png" alt="Background Thematic">
    </div>
    <div class="thematicname">
        <h1>TEMÁTICAS</h1>
    </div>
    <div class="thematicdes">
        <p>En esta sección encontrarás los temas a tratar dentro del
        congreso de Educación, Ciencia y Divulgación matemática. <br>
        El día 30 de noviembre, de 8h00 a 17h00.</p>
    </div>
    <div class="button2">
      <app-button></app-button>
  </div>
  <div class="title1">
      <h1>EDUCACIÓN</h1>
  </div>
  <div class="container-text">
      <div class="imageEducation">
          <img src="assets/bookthematic.webp" alt="Book Thematic">
      </div>
      <div class="text1">
          <h1>Aprendizaje Basado en Proyectos (ABP)</h1>
          <p>Este eje analizará cómo las metodologías activas, como el Aprendizaje Basado en
            Proyectos, pueden integrarse en la enseñanza de las matemáticas. Se presentarán casos de 
            éxito y se discutirán las mejores prácticas para implementar proyectos reales que faciliten la 
            comprensión de conceptos matemáticos complejos.
        </p>
    </div>
    <div class="text2">
        <h1>Gamificación en el Aula</h1>
        <p>Se explorará la gamificación como una estrategia para hacer el aprendizaje de las
          matemáticas más atractivo y efectivo. Los participantes conocerán cómo la 
          integración de elementos de juego en el aula puede motivar a los estudiantes y 
          mejorar su desempeño en matemáticas.
      </p>
  </div>
  
</div>
<div class="title2">
  <h1>CIENCIA</h1>
</div>
<div class="container-text2">
  <div class="text3">
      <h1>Relación entre Matemáticas y Programación</h1>
      <p>Este eje explorará cómo la programación puede ser una herramienta poderosa en la
        enseñanza de las matemáticas. Se incluirán talleres sobre la creación de aplicaciones 
        sencillas utilizando Python, donde los 
        participantes podrán aplicar conceptos matemáticos en un entorno de programación.</p>
</div>
<div class="text4">
    <h1>Matemáticas y la Inteligencia Artificial (IA)</h1>
    <p>Se analizará el papel crucial que las matemáticas desempeñan en el desarrollo
      de la IA. Las sesiones incluirán estudios de caso y discusiones sobre cómo las 
      matemáticas fundamentan algoritmos y modelos en inteligencia artificial, 
      proporcionando una base sólida para innovaciones tecnológicas.
  </p>
</div>
<div class="imageScience">
  <img src="assets/handlight.png" alt="Hand Light">
</div>
</div>

<div class="title3">
    <h1>DIVULGACIÓN</h1>
</div>
<div class="container-text3">
    <div class="imageDivulgation">
        <img src="assets/microthematic2.png" alt="Micro Thematic">
    </div>
    <div class="text5">
        <h1>Aplicaciones de las Matemáticas en Áreas Diversas</h1>
        <p>Este eje se centrará en cómo las matemáticas se aplican en diferentes aspectos de la vida
          diaria, desde el deporte hasta la astronomía. Incluye charlas sobre cómo las matemáticas 
          ayudan a comprender fenómenos complejos como la teoría del caos, y cómo pueden ser 
          utilizadas para mejorar el rendimiento académico y la toma de decisiones en 
          distintos campos.
      </p>
  </div>
  <div class="text6">
      <h1>Matemáticas y Comprensión del Mundo</h1>
      <p>Se explorará cómo el conocimiento matemático es esencial para entender el
        mundo que nos rodea. Las actividades en este eje están dirigidas a mostrar la 
        relevancia de las matemáticas en la vida 
        cotidiana y a fomentar un mayor interés por esta disciplina.
    </p>
</div>
</div>

<div class="footer">
  <app-footer></app-footer>
    </div>
</div>
