.container{
    background-color: #3D002F;
    width: 100vw;
    height: 400vh;
    position: absolute;
    margin: -10px;
}

.image1 img{
    width: 100vw;
    height: auto; 
    position: absolute; 
    top: 0vh; 
    left: 0;
}
.thematicname{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
    font-size: 31px;
    left: 10vw;
    top: 32vh;
}

.thematicdes{
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
    font-size: 18px;
    left: 37vw;
    top: 37vh;
}
.button2{
    position: absolute;
    top: 52vh;
    left: 58vw;
}
.title1{
    width: 100vw;
    height: 13vh;
    background-color: #250101d3;
    position: absolute; 
    top: 75vh; 
    left: 0; 
    z-index: 1; 
}

.title1 h1{
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 30px;
    top: 2vh;
    left: 8vw;
}

.container-text{
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    position: absolute; 
    top: 88vh; 
    left: 0; 
    z-index: 1;
}

.text1 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 20px;
    top: 8vh;
    left: 33vw; 
}

.text1 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 33vw;
    top: 17vh; 
}

.text2 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 20px;
    top: 10vh;
    left: 68vw; 
}

.text2 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 68vw;
    top: 17vh; 
}

.text3 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';
    font-size: 20px;
    top: 8vh;
    left: 8vw; 
}

.text3 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 8vw;
    top: 18vh; 
}

.imageEducation img{
    width: 50vh;
    height: 50vh; 
    position: absolute; 
    top: 0vh; 
    left: 0;
    z-index: 1; 
}

.container-text2{
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    position: absolute; 
    top: 158vh; 
    left: 0; 
    z-index: 1;
}

.title2{
    width: 100vw;
    height: 13vh;
    background-color: #250101d3;
    position: absolute; 
    top: 145vh; 
    left: 0; 
    z-index: 1; 
}

.title2 h1{
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 30px;
    top: 2vh;
    left: 8vw;
}

.text4 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 20px;
    top: 8vh;
    left: 38vw; 
}

.text4 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 38vw;
    top: 18vh; 
}

.text5 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 20px;
    top: 8vh;
    left: 33vw; 
}

.text5 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 33vw;
    top: 17vh; 
}

.text6 h1{
    position: absolute;
    text-align: left;
    color: #000000;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 20px;
    top: 8vh;
    left: 68vw; 
}

.text6 p{
    position: absolute;
    color: #000000;
    text-align: left;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta'; 
    font-size: 14px;  
    left: 68vw;
    top: 17vh; 
}

.imageScience img{
    width: 50vh;
    height: 50vh; 
    position: absolute; 
    top: 0vh; 
    left: 72vw;
    z-index: 1; 
}

.imageDivulgation img{
    width: 50vh;
    height: 50vh; 
    position: absolute; 
    top: 0vh; 
    left: 0;
    z-index: 1; 
}

.container-text3{
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    position: absolute; 
    top: 228vh; 
    left: 0; 
    z-index: 1;
}

.title3{
    width: 100vw;
    height: 13vh;
    background-color: #250101d3;
    position: absolute; 
    top: 215vh; 
    left: 0; 
    z-index: 1; 
}

.title3 h1{
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: 'IBM Plex Sans', 'Roboto Slab' , 'Orienta';  
    font-size: 30px;
    top: 2vh;
    left: 8vw;
}

.footer{
    position: absolute;
    top: 220vh;
}

.button{
    position: absolute;
    top: 285vh;
    left: 43vw;
}