body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 1200px;
    height: 210px; 
    background-color: #8075755a; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px #00000033; 
    padding: 20px; 
    box-sizing: border-box;
}
