<div class="carousel-container">
    <div *ngFor="let slide of slides; let i = index" 
         class="slide" 
         [style.transform]="'translateX(' + (i - currentSlide) * 100 + '%)'">
      <div class="slide-content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <div *ngIf="slide.details" class="details-container">
          <div *ngFor="let detail of slide.details" class="detail-item">
            <div [innerHTML]="detail.icon"></div>
            <span [innerHTML]="detail.text"></span>
          </div>
        </div>
      </div>
      <div class="slide-image" [style.backgroundImage]="'url(' + slide.imageUrl + ')'"></div>
    </div>
    <button class="btn btn-prev" (click)="prevSlide()">&#8249;</button>
    <button class="btn btn-next" (click)="nextSlide()">&#8250;</button>
  </div>